
/*全体共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
  font-size: 16px;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}


/*パディングをサイズ内側にする処理*/
* {
  padding:0%;
  margin: 0%;
  margin-left: 5px;
  margin-right: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*1ページ目*/
/*ーーーーーーーーーーー*/
.title_box{
  height: 450px;
  width: 100%;
	background:url(../img/mainbg.png);
	background-size: cover;
  background-position: center;
  align-content: center;
display: flex;
justify-content: center;
flex-direction: column;

}

.title{
  font-size: 48px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.subtitle{
  font-size: 28px;
  color: white;
  justify-content: center;
  align-items: center;
display: flex;
}
.bottan{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}


.btn-square-pop1 {
position: relative;
  display: inline-block;
  padding: 2em 2em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-bottom: solid 2px #d27d00;
  border-radius: 5px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop1:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.btn-square-pop2 {
  position: relative;
  display: inline-block;
  padding: 2em 2em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-bottom: solid 2px #d27d00;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop2:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.btn-square-pop3{
  position: relative;
  display: inline-block;
  padding: 2em 2em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop3:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.btn-square-pop4{
  position: relative;
  display: inline-block;
  padding: 2em 2em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-bottom: solid 2px #d27d00;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop4:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


.ヘッダー{
width: auto;
height: 100%;
display: flex;
padding: 5px;
justify-content:center;

}

.newsbox0{
width: 100%;
height: auto;
display: flex;
margin: 5px;
padding: 5px;
justify-content: center;
align-items: center;
}

.newsbox{
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.newsbox2{
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.newsbox3{
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
margin: 5px;}
.news{
  color: red;
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.newsday{
margin-top: 10px;
margin-bottom:0;
}
.pizzaimage{
  width: 100%;
  height: auto;
  
}
.pizzaimage img
{object-fit: cover;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
}
.pizzatxst{
width: 100%;
height: auto;
background: ivory;
display: none;
flex-direction: column;
    padding: 10px;
margin-top: 24px;
text-align: center;
} 

.loop_css{
position: relative;
display: -webkit-flex;  
display: flex;
width: 93%;
height: 500px;
left: 50%;
margin-left: -35vw;
margin-right: auto;
overflow: hidden;
}
.loop_css img{
  width: auto;
  height: 70%;
  }
 .loop_css img:first-child{
   -webkit-animation: loop 50s -25s linear infinite;
   animation: loop 50s -25s linear infinite;
   animation: loop 50s -25s linear infinite;
   -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
 } 
 .loop_css img+img{
   -webkit-animation: loop2 50s linear infinite;
   animation: loop2 50s linear infinite;
 }
 @-webkit-keyframes loop{
   0%{
     -webkit-transform: translateX(100%);
     -ms-transform: translateX(100%);
     transform: translateX(100%);
   }
   to{
     -webkit-transform: translateX(-100%);
     -ms-transform: translateX(-100%);
    transform:translateX(-100%);
   }
 }

 @keyframes loop{
   0%{-webkit-transform:translateX(100%);
  -ms-transform:translateX(100%);
transform:translateX(100%);}
to{
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
 }
 @-webkit-keyframes loop2 {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

@keyframes loop2 {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}




.フッター {
  background: #707070;
  font: 18px;
  width: 100%;
  height: 4em;
  display: flex;
  line-height: 32px;
  justify-content: center;
  align-items: center;

}
.p{
  font: 18px;
margin-left: auto;
margin-right: auto;
}



/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
---------------------*/


/*aboutページ
---------------------*/
.about{
  color:green;
  font-size: 60px;
  position: relative;
  width: center;
  height: 85%;
align-items: center;
justify-content: center;
margin: 0;
line-height: 120px;
}
.aboutbox{
 width: 100%;
 height: 960px;
 position: relative;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 display: flex;
}

.abouttext{
  
  color:black;
  text-align: center;
  width: 90%;
  height: 65%;
  position: absolute;
  margin: 0;
  flex-direction: column;
  font-size: 18px;
  object-fit: fill;
  top: 35%;
  display: none;
}
.about1
{line-height: 24px;
  font-size: 22px;
}

.about2{
  line-height: 64px;
}
.about3{
  line-height: 80px;
}



.bg{width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background: url(../img/about_04.jpg);
background-size: cover;
opacity: 0.5;
}


.btn-square-pop5 {
position: relative;
  display: inline-block;
  padding: 1em 1.5em;
  text-decoration: none;
  color: #FFF;
  background: green;
  border-bottom: solid 2px skyblue;
  border-radius: 5px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
 float:right;
}

.btn-square-pop5:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


/*contactpage
---------------------*/
.form input {
    width: auto;
    margin-bottom:10px;
    border: 1px solid;
    font-size: 20px;
}

.form textarea {
    height: auto;
    width: auto;
    margin-bottom:10px;
    border: 1px solid;
    font-size: 20px;
}

.contact-submit input {
    width: auto;
    text-align: center;
}
.contactbox{
width: auto;
 height: auto;
 position: relative;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 display: flex;
 text-align: center;
}
.bg2{width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background: url(../img/about_01.jpg);
background-size: cover;
opacity: 0.2;
}

.contact{
  display: flex;
  justify-content: center;
  font-size: 30px;
  position: relative;
}
.contacttext1{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-align: center;
}
.contacttext2{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-align: center;
}
.subcontact{
  display: flex;
  justify-content: center;
  font-size: 25px;
}



.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 position: relative;
 font-size: 20px;
 display: none;
}
.contact-submit{
  font-size: 15px;
  padding: 0em 1em;
    margin: 0;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
margin-bottom: 20px;
}
/*コース
---------------------*/
.course1{
  display: flex;
  justify-content: center;

  }
  .course1text{
     width: 50%;
background: ivory;
display: flex;
display: none;
justify-content: center;
flex-direction: column;
align-items: center;  
text-align: center

  }
  .course1title{
font-size: 24px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
font-weight: bold;
  }
.text1{
margin: 10px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

  }
  .course1imag{
    width: 50%;
    overflow: hidden;
  }
.course2{
  display: flex;
  justify-content: center;
  }
  .course2title{
    font-size: 24px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
font-weight: bold;

  }
  .course2text{
     width: 50%;
background: ivory;
  display: flex;
justify-content: center;
flex-direction: column;
align-items: center; 
text-align: center;
display:none;

  }

.text2{
margin: 10px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
  .course2imag{
    width: 50%;
    overflow: hidden;

  }
.course3{
  display: flex;
  justify-content: center;
  }

   .course3text{
     width: 50%;
background: ivory;
  display: flex;
justify-content: center;
flex-direction: column;
align-items: center; 
text-align: center;
display: none;
  }
  .course3title{
     font-size: 24px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
font-weight: bold;
    }
.text3{
margin: 10px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
  .course3img{
    width: 50%;
    overflow: hidden;
  }
  .coursetitle{
   display: flex;
  justify-content: center;
  font-size: 30px; 
  }
  .ctext{
    display: flex;
    justify-content: center;
  flex-direction: column;
  align-items: center;
width: 100%;
text-align: center;
font-size: 18px;
  }
/*アクセス
---------------------*/
.アドレス{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
}
h2{
  font-size: 50px;
}
.map{
  height:100% ;
  width: 100%;
  justify-content: center;
  display: flex;
}
.番号{
  display: flex;
  background: #fafafa;
  justify-content: center;
  align-items: center;
}